/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS VARIABLES */
:root {
    --white: #ffffff;
    --cream: #E0E4CC;
    --light-blue: #93d5e6;
    --blue: #1b4965;
    --black: #212529;

    --fonts: 'Inter', sans-serif;
}

body {
    Display: flex;
    flex-direction: column;
    --s: 64px;
    /* control the size */
    --c1: var(--white);
    --c2: var(--light-blue);
    --_g: 90deg, #0000 0;
    background:
        conic-gradient(from 135deg, var(--c1) var(--_g)) var(--s) calc(var(--s)/2),
        conic-gradient(from 135deg, var(--c2) var(--_g)),
        conic-gradient(from 135deg at 50% 0, var(--c1) var(--_g)) var(--c2);
    background-size: calc(2*var(--s)) var(--s);
    font-family: var(--fonts);
    color: var(--black);
    justify-content: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: var(--white);
}

.company-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 85px;
    margin: 1rem 0.8rem;
}

.logo a:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 3rem;
    margin: 1rem 3rem;
}

nav ul,
a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.05em;
    font-weight: 600;
}

nav ul,
a:hover {
    cursor: pointer;
    color: var(--light-blue);
}

/*main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hero-img {
    height: auto;
    width: 100vw;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.intro {
    display: flex;
    flex-direction: column;
    flex: 1 2 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 75vw;
    height: 25vh;
    gap: 2rem;
    line-height: 1.35;
    margin: 0 5rem;
    padding: 2rem;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.group2-a{
    display: flex;
    flex-direction: row;
    flex: 1 2 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 75vw;
    height: auto;
    gap: 2rem;
    line-height: 1.35;
    margin: 0 5rem;
    padding: 2rem;   
}

 .chalet {
    flex: 1 0 75%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

h3{
    font-weight: 600;
    font-size: 1.2rem;
}

.group2a-text {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: var(--white);
    font-weight: normal;
    font-size: 1rem;
    padding: 2rem;
    gap: 2rem;
}

.group2-b{
    display: flex;
    flex: 1 2 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 75vw;
    height: auto;
    gap: 2rem;
    line-height: 1.35;
    margin: 0 5rem;
    padding: 2rem;   
}

 .snowy-chalet {
    flex: 1 0 75%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
} 

h3{
    font-weight: 600;
    font-size: 1.2rem;
}

.group2b-text {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: var(--white);
    font-weight: normal;
    font-size: 1rem;
    padding: 2rem;
    gap: 2rem;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    gap: 0.7rem;
    padding: 0;
    margin-top: 2rem;
    height: 20vh;
    font-size: 0.9em;
    width: 100vw;
}

.footer-logo{
    width: 60px;
    height: 45px;
}

@media screen and (max-width: 1280px) {

    nav ul, a {
        font-size: 1em;
    }

    h1{
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3{
        font-size: 1em;
    }

    .intro p {
        font-size: 0.8em;
        padding: 1rem;
    }

    .group2a-text {
        font-size: 0.8em;
        padding: 1rem;
    }

    .group2b-text {
        font-size: 0.8em;
        padding: 1rem;
    }
}

@media screen and (max-width: 800px) {
    h1{
        font-size: 1.1em;
    }

    h2 {
        font-size: 1em;
    }

    h3{
        font-size: 1em;
    }

    nav ul, a {
        font-size: 0.9em;
        gap: 1rem;
    }
    .intro {
        padding: 1rem;
    }
    .group2-a {
        padding: 1rem;
    }
    .group2-b {
        padding: 1rem;
    }
    .intro p {
        font-size: 0.7em;
        padding: 0.7rem;
    }

    .group2a-text {
        font-size: 0.7em;
        padding: 0.7rem;
        gap: 1rem;
    }

    .group2b-text {
        font-size: 0.7em;
        padding: 0.7rem;
        gap: 1rem;
    }

    footer {
        font-size: 0.7em;
    }

}

@media screen and (max-width: 680px) {
    h1{
        font-size: 1em;
    }

    h2 {
        font-size: 0.8em;
    }

    h3{
        font-size: 1em;
    }

    nav ul, a {
        font-size: 0.75em;
    }
    .intro {
        padding: 0.7rem;
    }
    .group2-a {
        padding: 0.7rem;
    }
    .group2-b {
        padding: 0.7rem;
    }
    .intro p {
        font-size: 0.6em;
        padding: 0.5rem;
    }

    .group2a-text {
        font-size: 0.6em;
        padding: 0.5rem;
    }

    .group2b-text {
        font-size: 0.6em;
        padding: 0.5rem;
    }

}